.slider {
  -webkit-appearance: none;
  width: 700px; /* Make the slider take full width */
  height: 70px; /* Adjust height for desired thickness */
  background: #DA3B5E;
  outline: none;
  border-radius: 15px;
  transform: rotate(-90deg);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 50px;
  background: #ffffff;
  opacity: 1.0;
  cursor: pointer;
  border-radius: 10%;
}
