.slider {
  -webkit-appearance: none;
  width: 700px; /* Make the slider take full width */
  height: 70px; /* Adjust height for desired thickness */
  background: linear-gradient(to right, #4CAF50 0%, #4CAF50 10%, #d3d3d3 10%);
  outline: none;
  border-radius: 15px;
  transform: rotate(-90deg);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 50px;
  background: #4caf50;
  cursor: pointer;
  border-radius: 10%;
}
